<br />
<br />
<br />
<div>
    <button type="button" class="btn btn-danger float-right" id="logOut" routerLink="/signin">Signout</button>
    <h1 class="text-center">Nutrition Details</h1>

    <br />



    <div class="form-group">
        <input type="name" name="itemname" class="form-control" [(ngModel)]="recipe.name" id="fooditemname"
            aria-describedby="nutrition description" placeholder="Enter itemname">
    </div>

    <br />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button type="button" (click)="getNutrition()" class="btn btn-info">Get Nutrition Details</button>
            </div>
        </div>
    </div>



</div>
<br />
<div class="text-center" *ngIf="displayResult">
    
        <div class="card justify-center float" style="width: 40rem; ">
        <div class="card-body">

                <form>
    <h2> Number of calories : {{nutritionData.hits[0].fields.nf_calories}} cal</h2>
    <br />
    <h2>Number of serving grams :{{nutritionData.hits[0].fields.nf_serving_weight_grams}} grams</h2>
    
</form>
</div>
    </div>
</div>


<div class="result2" *ngIf="wrongEntry">
    <p>
        Oops u have entered an invalid item
    </p>

</div>